.App {
    text-align: center;
    display: flex;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    color: white;
    /* background-image: linear-gradient(79deg, #000000, #1a7618 48%, #a2eeb5); */
    background-image: linear-gradient(79deg, #000000, #1a7618 48%, #43cf66);
}

.auth-form-container, .login-form, .register-form, .create-form {
    display: flex;
    flex-direction: column;
}

@media screen and (min-width: 768px){
    .auth-form-container{
        padding: 5rem;
        border: 1px solid white;
        border-radius: 10px;
        margin: 0.5rem;
    }
}

label {
    text-align: left;
    padding: 0.25rem 0;
}

input {
    margin: 0.5rem 0;
    padding: 1rem;
    border: none;
    border-radius: 10px;
    width: 220px;
    background-color: rgb(69, 68, 68);
    color: white;
}

.input-container {
    position: relative;
}

.password-toggle {
    position: absolute;
    right: 10px;
    top: 35%;
    cursor: pointer;
    color: white;
}

button {
    border: none;
    background-color: rgb(69, 68, 68);
    padding: 15px;
    border-radius: 10px;  
    cursor: pointer;
    color: #a2eeb5;
}

.disNumButton {
    margin: 2px;
    background-color: rgb(69, 68, 68);
    cursor: default;
}

.enNumButton {
    margin: 2px;
    background-color: rgba(255, 113, 4, 0.734);
    color: rgb(255, 255, 255);
    white-space: pre-line;
}

.warningButton {
  margin: 2px;
  background-color: rgba(197, 0, 0, 0.842);
  color: rgb(255, 255, 255);
  white-space: pre-line;
}

.enNumButton #newLineColor{
  color: rgb(87, 0, 0);
}

.enNumButton:hover {
    background-color: rgb(255, 113, 4);
}

.plButton {
    margin: 2px;
    font-size: 20px;
}

.loading-button {
    background-color: rgb(53, 53, 53); /* Replace with your desired color */
    cursor: not-allowed;
}

.link-btn {
    background: none;
    color: white;
    text-decoration: underline;
}

.password-complex-error-message {
    white-space: pre-line;
    text-align: left;
}

.error-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    font-weight: bold;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    backdrop-filter: blur(5px);
}

.modal-content {
    background: #1a7618;
    color: white;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.menu-icon {
    position: fixed;
    top: 15px;
    left: 20px;
    cursor: pointer;
    padding: 10px;
    font-size: 24px;
    color: #bfbfbf; /* Adjust the color as needed */
    z-index: 1000; /* Ensure it's above other elements */
    width: 30px;
    height: 30px;
    background-color: #333;
    transition: transform 0.3s ease;
}

.menu-icon:hover {
    background-color: #ffffff1f;
    border-radius: 4px; 
}

.menu-icon.active {
    transform: translateX(200px); /* Adjust the value based on your menu width */
}
  
.menu-options {
    position: fixed;
    display: flex;
    flex-direction: column;
    top: 0;
    left: -200px; /* Start off-screen */
    width: 200px;
    height: 100vh;
    background-color: #071601e8;
    transition: left 0.3s ease; /* Add transition for smooth animation */
}
  
.menu-options.active {
    left: 0; /* Move into view when active */
}

.menu-logout-button {
    margin-top: auto; /* Pushes the button to the bottom */
    background-color: rgb(223, 41, 41);
    padding: 10px;
    font-size: 15px;
    border-radius: 15px;  
    color: #ffffff;
    margin-bottom: 10px;
}

.menu-logout-button:hover {
    background-color: rgb(255, 0, 0);
}

.menu-button {
    width: 200px;
    border-radius: 0px;
    background-color: rgba(255, 255, 255, 0);
    font-size: 20px;
    color: #ffffff;
    padding: 10px;
    border: 1px solid rgba(0, 73, 12, 0.329);
}

.menu-button:hover {
    background-color: rgb(2, 36, 9);
}

@media screen and (max-width: 768px) {
    body.menu-open {
        overflow: hidden;
    }

    .overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0);
    }

    .menu-logout-button {
        margin-bottom: 100px;
    }
}

.error-modal-button {
    width: 100px; 
    margin-right: 5px;
    font-size: 15px;
    padding: 10px;
}

.error-modal-button:last-child { /* each button will have a right margin of 20 pixels, except for the last button */
    margin-right: 0;
}

.remove-rec {
    background-color: rgb(107, 1, 1);
    color: #ffffff;
}

/* participant page for flexbox */
.wrapper {
  display: flex;
  flex-direction: column;
  margin-bottom: auto;
  flex: 1;
  /* font-family: "helvetica"; */
}

.wrapper #row1 {
  display: flex;
  align-items: center;
}

.wrapper #pad {
    flex: 0 0 8%;
}

@media screen and (max-width: 768px) {
  .wrapper #pad {
    flex: 0 0 17%;
  }
}

.wrapper #title {
    flex: 1 1;
    height: 70px;
}

.wrapper #button {
    flex: 0 0 8%;
}

.wrapper #calender-arrangement {
  display: flex;
  align-items: center;
  justify-content: center;
}

.wrapper h3 {
  margin-bottom: 5px;
}

.wrapper #data-within {
  display: flex;
  flex: 1 1;
}

.wrapper #data-within-pad {
  flex: 0 0 23%;
}

@media screen and (max-width: 768px) {
  .wrapper #data-within-pad {
    flex: 0 0 12%;
  }
}

.wrapper #output-data {
  flex: 1 1;
  text-align: left; 
}

.wrapper hr {
  height: 1px;
  border: none;
  background-color: #ffffff;
}

.wrapper #calender-arrangement {
  cursor: pointer;
}

.font-blue {
  color:#aee1ff;
}


#calender-arrangement .arrow-box {
  display: inline-block;
  border-radius: 6px;
  padding: 5px;
  background-color: #1e4e08;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#calender-arrangement .date-span {
  margin: 0 10px; /* Adjust the margin value as needed */
}

.dropdown-select {
  color: rgb(255, 255, 255); /* Change the color of the text */
  background-color: rgba(255, 113, 4, 0.734); /* Change the background color of the dropdown box */
  border: 1px solid rgb(99, 100, 11); /* Change the border color */
  border-radius: 5px;
  border-width: 3px;
}

.output-value {
  display: inline-block;
  padding: 2px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  background-color: rgba(255, 113, 4, 0.734);
}

#companySelect {
  font-size: 1.9em; /* Adjust font size */
  background-color: #1a7618;
  border: 2px solid #156014;
  border-radius: 5px;
  color: white;
}














/* Calender */

.react-calendar {
    width: 350px;
    max-width: 100%;
    background: rgb(33, 33, 33);
    border: 1px solid #a0a096;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.125em;
    margin: 0 auto;
    position: absolute; /* Position the calendar absolutely */
    top: 37%; 
    left: 50%; /* Center horizontally */
    transform: translate(-50%, -50%); /* Center the calendar */
    z-index: 999; /* Ensure the calendar appears above other content */
    color: rgb(209, 22, 22);
  }
  
  .react-calendar--doubleView {
    width: 700px;
  }
  
  .react-calendar--doubleView .react-calendar__viewContainer {
    display: flex;
    margin: -0.5em;
  }
  
  .react-calendar--doubleView .react-calendar__viewContainer > * {
    width: 50%;
    margin: 0.5em;
  }
  
  .react-calendar,
  .react-calendar *,
  .react-calendar *:before,
  .react-calendar *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  
  .react-calendar button {
    margin: 0;
    border: 0;
    outline: none;
  }
  
  .react-calendar button:enabled:hover {
    cursor: pointer;
  }
  
  .react-calendar__navigation {
    display: flex;
    height: 44px;
    margin-bottom: 1em;
  }
  
  .react-calendar__navigation button {
    min-width: 44px;
    background: none;
  }
  
  .react-calendar__navigation button:disabled {
    background-color: #f0f0f0;
  }
  
  .react-calendar__navigation button:enabled:hover,
  .react-calendar__navigation button:enabled:focus {
    background-color: #7b2727;
  }
  
  .react-calendar__month-view__weekdays {
    text-align: center;
    text-transform: uppercase;
    font: inherit;
    font-size: 0.75em;
    font-weight: bold;
  }
  
  .react-calendar__month-view__weekdays__weekday {
    padding: 0.5em;
  }
  
  .react-calendar__month-view__weekNumbers .react-calendar__tile {
    display: flex;
    align-items: center;
    justify-content: center;
    font: inherit;
    font-size: 0.75em;
    font-weight: bold;
  }
  
  .react-calendar__month-view__days__day--weekend {
    color: #d10000;
  }
  
  .react-calendar__month-view__days__day--neighboringMonth,
  .react-calendar__decade-view__years__year--neighboringDecade,
  .react-calendar__century-view__decades__decade--neighboringCentury {
    color: #757575;
  }
  
  .react-calendar__year-view .react-calendar__tile,
  .react-calendar__decade-view .react-calendar__tile,
  .react-calendar__century-view .react-calendar__tile {
    padding: 2em 0.5em;
  }
  
  .react-calendar__tile {
    max-width: 100%;
    padding: 10px 6.6667px;
    background: none;
    text-align: center;
    line-height: 16px;
    font: inherit;
    font-size: 0.833em;
  }
  
  .react-calendar__tile:disabled {
    background-color: #f0f0f0;
    color: #ababab;
  }
  
  .react-calendar__month-view__days__day--neighboringMonth:disabled,
  .react-calendar__decade-view__years__year--neighboringDecade:disabled,
  .react-calendar__century-view__decades__decade--neighboringCentury:disabled {
    color: #cdcdcd;
  }
  
  .react-calendar__tile:enabled:hover,
  .react-calendar__tile:enabled:focus {
    background-color: #6e2020;
  }
  
  .react-calendar__tile--now {
    background: #4b4b4b;
  }
  
  .react-calendar__tile--now:enabled:hover,
  .react-calendar__tile--now:enabled:focus {
    background: #353535;
  }
  
  .react-calendar__tile--hasActive {
    background: #006edc;
  }
  
  .react-calendar__tile--hasActive:enabled:hover,
  .react-calendar__tile--hasActive:enabled:focus {
    background: #a9d4ff;
  }
  
  .react-calendar__tile--active {
    background: #006edc;
    color: white;
  }
  
  .react-calendar__tile--active:enabled:hover,
  .react-calendar__tile--active:enabled:focus {
    background: #1087ff;
  }
  
  .react-calendar--selectRange .react-calendar__tile--hover {
    background-color: #e6e6e6;
  }